<div style="border:#fcc29a solid 1px; margin: 10px 0px; padding: 10px;">
  <div>添加成功，管理员24小时之内进行审核，审核后就可以在网站上看到了。</div>
  <div>谢谢你添加商户到集客网！</div>
  <div>
    <%=link_to "继续添加", new_business_path%>
    <%=link_to "首页", root_path%>
  </div>
</div>