.menu{
    width:980px;
    height:35px;
    margin-top:10px;
    background:#f47018;
    float:left;
}
.menu a{
    color:#FFFFFF;
    font-size:14px;
    float:left;
    line-height:35px;
    margin:0px 10px;
}
.menu a:hover{
    color:#eee;
}
.menu .line{
    width:2px;
    height:17px;
    float:left;
    margin: 9px 0px;
    background:url(/images/line.jpg) no-repeat center;
}
