<div class="search"> <form id="form3" name="form3" method="post" action="">
    快速查找：
    <select name="-请选择-" size="1" class="pic">
      <option>-请选择-</option>
    </select>

    <select name="-请选择-2" size="1" class="pic">
      <option>-请选择-</option>
    </select>
    <select name="-请选择-3" size="1" class="pic">
      <option>-请选择地区-</option>
    </select>

    <label>
      <input name="button4" type="image" class="pic" id="button4" value="提交" src="/images/search_65.gif" />
    </label>
  </form>
</div>